<html>
<head>
	<title></title>
	<script src="../dist/vds-latest.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.7/angular.min.js"></script>
	<script src="ng-drumbox.js"></script>
	<style type="text/css">
		.activeCell {
			background-color: red;
		}
	</style>
</head>
<body ng-app="viral-drum-sequencer">
	<div ng-controller="DrumboxController">
		<table id="drumstable">
			<tr ng-repeat="soundobj in sounds">
				<td>
					<a ng-click='soundobj.play()' >{{soundobj.name}}</a>
				</td>
				<td ng-repeat="slot in soundobj.pattern track by $index">
					<input type="checkbox" ng-model="soundobj.pattern[$index]">
				</td>			
			</tr>
		</table>
		<label>BPM:</label><input type="number" ng-model="bpmSlide" ng-change="tempoChange()"/>
		<button ng-click="startBox()" id="startBoxButton" class="btn">LISTEN</button>
		<button ng-click="stopBox()" class="btn">STOP</button>
	</div>
</body>
</html>